indicator(title="Tenkan", shorttitle="Tenkan", overlay= true)
length = input(9, title="Tenkan")
tenkan_sen = ((ta.highest(length) + ta.lowest(length)) / 2)
plot(tenkan_sen, color=color.blue, title="Tenkan-sen")
